{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %}

<div class="container">
  <div class="review" id="anime-image"></div>

  <h1>New Review for {{animeName}}</h1>

  <form method="POST" class="form-inline" id="review-form">
    <input type="hidden" id="animeId" value="{{animeId}}" />
    <ul class="rate-area">
      <input type="radio" id="5-star" name="rating" value="5" /><label
        for="5-star"
        title="Amazing"
        >5 stars</label
      >
      <input type="radio" id="4-star" name="rating" value="4" /><label
        for="4-star"
        title="Good"
        >4 stars</label
      >
      <input type="radio" id="3-star" name="rating" value="3" /><label
        for="3-star"
        title="Average"
        >3 stars</label
      >
      <input type="radio" id="2-star" name="rating" value="2" /><label
        for="2-star"
        title="Not Good"
        >2 stars</label
      >
      <input type="radio" id="1-star" name="rating" value="1" /><label
        for="1-star"
        title="Bad"
        >1 star</label
      >
    </ul>
    <input name="comments" id="comments" type="text" /><label for="comments"
      >Comments:</label
    >
    <button class="btn btn-primary">Submit</button>
  </form>

  {% endblock %}
</div>
<script src="127.0.0.1:5000/static/animeDB.js"></script>
